services=drill-bits:all:cldb
service.displayname=Drillbit
service.command.start=__DRILL_HOME__/bin/drillbit.sh start
service.command.stop=__DRILL_HOME__/bin/drillbit.sh stop
service.command.monitorcommand=__DRILL_HOME__/bin/drillbit.sh status
service.command.type=BACKGROUND
service.uri=/about
service.logs.location=__DRILL_HOME__/logs/
service.process.type=JAVA
service.alarm.tersename=nadrill
service.alarm.label=DRILLDOWNALARM
#Default Drill Mem Distrib: 20% of System memory
service.env=DRILLBIT_MAX_PROC_MEM=20%
service.heapsize.min=5120
service.heapsize.max=13312
#Warden will allocate 20% of memory for Drill
service.heapsize.percent=20
